<!DOCTYPE html>
<html lang="en">

<head>
	<meta charset="UTF-8">
	<meta name="viewport" content="width=device-width, initial-scale=1.0">
	<title>Vue Simple Counter</title>
	<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/spectre.css/0.5.0/spectre.min.css">
	<link rel="stylesheet" href="dist/spectre-icons.css">
	<link rel="stylesheet" href="style.css">
</head>

<body>

	<div class="container grid-lg">

		<div id="app" v-cloak>

			<div class="empty">
				<div class="empty-icon">
					<i class="icon icon-3x icon-time"></i>
				</div>
				<p class="empty-title h5">Vue Simple Countdown Timer</p>
				<p class="empty-subtitle" v-show="!inProgress">Press <strong>Start</strong> to begin the countdown.</p>
				<p class="empty-subtitle" v-show="inProgress">The countdown is running...</p>
				<div class="empty-action">
					<div class="button-container">
						<button class="btn btn-link" v-on:click="numberDown" :disabled="inProgress"><i
								class="icon icon-minus"></i></button>
						<h1 class="number">{{ counter }}</h1>
						<button class="btn btn-link" v-on:click="numberUp" :disabled="inProgress"><i
								class="icon icon-plus"></i></button>
					</div>
					<button class="btn btn-primary" v-on:click="countdown" :disabled="inProgress">Start</button>
				</div>
			</div>

		</div>

	</div>

	<script src="https://cdnjs.cloudflare.com/ajax/libs/vue/2.5.22/vue.js"
		integrity="sha512-5poPi2DuKLiFq6EOKhSSbmThNzP1nC7sgq5NUwXB6wtQAZkPJSSFIwRRhT+M/UAVkxFKWOSUGNFXOHjRt9qt5g=="
		crossorigin="anonymous"></script>
	<script>
		new Vue({
			el: "#app",
			data: {
				counter: 10,
				inProgress: false
			},
			methods: {
				playSound(sound) {
					if (sound) {
						var audio = new Audio(sound);
						audio.play();
					}
				},
				countdown: function () {
					this.inProgress = true;
					this.count();
				},
				count: function () {
					this.counter--;
					if (this.counter > 0) {
						setTimeout(this.count, 1000);
					} else if (this.counter === 0) {
						this.playSound("./sos-morse-code_daniel-simion.mp3");
						setTimeout(this.count, 3000);
					} else {
						this.counter = 10;
						this.inProgress = false;
					}
				},
				numberDown: function () {
					if (this.counter > 0) {
						this.counter--;
					}
				},
				numberUp: function () {
					this.counter++;
				}
			}
		});
	</script>
</body>

</html>