body {
    background-color: darkslateblue;
}

.container {
    margin: 100px auto;
}

.button-container {
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 20px auto;
}

.number {
    margin: 0 10px;
}

[v-cloak] {
    display: none;
}